a,
.sprocket-lists-title:hover,
.sprocket-lists li.active .sprocket-lists-title,
.horizmenu ul.menu > li a:hover,
.main-body-dark #rt-copyright a:hover,
.main-body-light #rt-copyright .horizmenu .module-content ul.menu > li a:hover,
.main-body-light #rt-copyright .horizmenu .module-content ul.menu li .separator:hover,
.main-body-light #rt-copyright .horizmenu .module-content ul.menu li .nolink:hover,
.sprocket-features-title a:hover {
  color: #005a8f;
}
.button,
.readon,
.readmore,
button.validate,
#member-profile a,
#member-registration a,
.formelm-buttons button,
.box3.rt-block,
ul.menu,
.rt-totop:hover,
.sprocket-headlines-navigation .arrow:hover,
.layout-slideshow .sprocket-features-arrows .arrow:hover,
.sprocket-lists-arrows .arrow:hover,
.title1 .mod-hex,
.layout-slideshow .readon:hover,
.main-body-dark.logo-type-fracture .logo-color,
.box3.title1 .title,
.box3.title3 .title {
  background-color: #005a8f;
}
.sprocket-mosaic-image-container:hover,
.sprocket-mosaic-content:hover .sprocket-mosaic-image-container {
  background-color: rgba(0, 90, 143, 0.7);
}
.login-fields #username:focus,
.login-fields #password:focus,
#contact-form dd input:focus,
#contact-form dd textarea:focus,
#modlgn-username:focus,
#modlgn-passwd:focus,
input#jform_email:focus,
#rokajaxsearch .inputbox:focus,
#member-registration dd input:focus,
#search-searchword:focus,
.finder .inputbox:focus {
  border: 1px solid #005a8f;
  box-shadow: inset 0 1px 3px rgba(0, 90, 143, 0.3), 0 0 8px rgba(0, 90, 143, 0.6);
}
body ul.checkmark li::after,
body ul.circle-checkmark li::before,
body ul.square-checkmark li::before,
body ul.circle-small li::after,
body ul.circle li::after,
body ul.circle-large li::after,
.sprocket-headlines-badge::after {
  border-color: #005a8f;
}
body ul.triangle-small li::after,
body ul.triangle li::after,
body ul.triangle-large li::after {
  border-color: transparent transparent transparent #005a8f;
}
.title4 .title {
  border-color: #005a8f;
}
.menutop li.root .item,
.splitmenu .menutop li .item,
.fusion-submenu-wrapper {
  background-color: #005a8f;
}
.menutab1,
.menutab7 {
  background-color: #005a8f !important;
}
.menutab2,
.menutab8 {
  background-color: #005a8f !important;
}
.menutab3,
.menutab9 {
  background-color: #005a8f !important;
}
.menutab4,
.menutab10 {
  background-color: #005a8f !important;
}
.menutab5,
.menutab11 {
  background-color: #005a8f !important;
}
.menutab6,
.menutab12 {
  background-color: #005a8f !important;
}
#rt-logo {
  background: url('../../img/instyle/LOGO_NOVAGRIC.png') 50% 0 no-repeat !important;
}
#rt-logo {
  width: 258px;
  height: 75px;
}

h1,
h2 {
  font-family: "Ubuntu", "Helvetica", arial, serif;
}

.img {
  background: url('../../img/instyle/jacksparrow.jpg') no-repeat;
  width: 200px;
  height: 200px;
  background-size: cover;
}
